@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-material: Material Symbols Outlined;
}

@layer base {
    /* Disable annoying outline */
    *:focus-visible {
        outline: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .custom-checkbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox > span {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom-checkbox > span::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
        border-color: #b3d7ff;
    }

    .custom-checkbox > input:checked + span::before {
        border-color: oklch(44.2% 0.017 285.786);
        background-color: oklch(44.2% 0.017 285.786);
        background-image: url("./check.svg");
    }

    .custom-checkbox > input:disabled + span::before {
        background-color: black;
    }
}

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

.button {
    @apply flex cursor-pointer items-center justify-center select-none;
}

.input {
    @apply resize-none rounded-xs p-2;
}

.dropdown-menu {
    @apply fixed z-50 flex-col rounded-md border-2;
}

.checkbox-container {
    @apply flex flex-row items-center gap-2;
}
