:root {
    --bg-dark: #18181b;
    --bg-primary: #27272a;
    --bg-second: #3f3f46;
    --bg-third: #71717a;
    --hover-bg-primary: #52525b;
    --hover-bg-second: #3f3f46;

    --outline-primary: #3f3f46;
    --outline-second: #71717a;
    --outline-third: #52525b;
    --focus-outline-primary: #a1a1aa;

    --text-primary: #d4d4d8;
    --text-second: #e4e4e7;
    --text-third: #a1a1aa;

    --border-primary: #52525b;
    --border-second: #3f3f46;
    --focus-border-primary: #a1a1aa;
}

.bg-dark {
    background-color: var(--bg-dark);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-second {
    background-color: var(--bg-second);
}

.bg-third {
    background-color: var(--bg-third);
}

.hover-bg-primary:hover {
    background-color: var(--hover-bg-primary);
}

.hover-bg-second:hover {
    background-color: var(--hover-bg-second);
}

.outline-primary {
    outline-color: var(--outline-primary);
}

.outline-second {
    outline-color: var(--outline-second);
}

.outline-third {
    outline-color: var(--outline-third);
}

.focus-outline-primary:focus {
    outline-color: var(--focus-outline-primary);
}

.text-primary {
    color: var(--text-primary);
}

.text-second {
    color: var(--text-second);
}

.text-third {
    color: var(--text-third);
}

.border-primary {
    border-color: var(--border-primary);
}

.border-second {
    border-color: var(--border-second);
}

.focus-border-primary:focus {
    border-color: var(--focus-border-primary);
}
